* {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(139, 60, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title {
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
} 
.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: aliceblue;
}

.title_post, .title_text{
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
}

.title_post{
    color: rgb(255, 254, 255);
}
.title_text{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: italic;
}
.texto{
    color: rgb(238, 238, 238);
    font-style: oblique;
    font-size: 20px;
    word-wrap: break-word;
    max-width: 400px;
    text-align: justify;
}

.lista_links {
    list-style-type: none;
    padding: 0;
    display: flex;
}
.lista_links a {
    text-decoration: none;
    /* color: rgb(252, 252, 252); */
    display: block;
    padding: 5px 0;
    margin-top: -8px;

}
button{
    color:rgb(139, 60, 214);
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    margin-left: 10%;
    position: relative; /* ou position: absolute; */
    bottom: -10px;
}

button a {
    color: blueviolet;
}
/* button > a {
    color:rgb(139, 60, 214);
    border: none;
    padding: 10px;
} */
.lista_links li {
    margin-right: 23px;
}
